.novo__form__titulo {
    font-size: 1.9rem;
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
}
.novo__form {
    margin: 0 auto;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column;
    margin-top: 30px;
    box-sizing: border-box;*/
    width:90vw; 
}


.novo__form input, select {
    height: 35px;
    border-color: #035c97;
    width: 100vw;
}

/* .novo__form input[type="submit"] {
    margin-top: 50px;
    border: 1px solid #035c97;
    background-color: #035c97;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.novo__form__login {
    display: flex;
    box-sizing: border-box;
}

.novo__form__login a {
    color:#fff;
    font-weight: 500;
    margin-top:20px;
    margin-right: 2px;
}
.novo__form__login a:hover {
    font-size: 1.1rem;
} */